<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
window.onload = function(){
	document.getElementById('btnSubmit').onclick = function(){
		
		chkData()
	}
	
	
}

function chkData(){
	
	//alert('a')
	if(frm.code.value === '' || frm.sang.value === ''){
		alert('입력 자료를 모두 채우시오')
		return;
	}
	
	//...
	frm.submit()
}


</script>
</head>
<body>
* 상품 추가 * <br>
<form action="insertok" method="post" name="frm">{%csrf_token%}
<table>
	<tr>
		<td>코드:</td>
		<td><input type="text" name='code'></td>
	</tr>
	<tr>
		<td>품명:</td>
		<td><input type="text" name='sang'></td>
	</tr>
	<tr>
		<td>수량:</td>
		<td><input type="text" name='su'></td>
	</tr>
	<tr>
		<td>단가:</td>
		<td><input type="text" name='dan'></td>
	</tr>
	<tr>
		<td><input type="button" value="저장" id='btnSubmit'></td>
	</tr>
	
</table>
</form>


</body>
</html>