<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<h2>** 회원목록 **</h2>
<a href="/member/insert">회원 목록</a>
<br>
<table class="table">
<tr><th>id</th><th>회원id</th><th>회원명</th><th>기타</th></tr>
{% if members.count > 0 %}
{% for m in members %}
	<tr>
	<td>{{m.id}}</td>
	<td>{{m.memid}}</td>
	<td>{{m.name}}</td>
	<td>전화 : {{m.phone}}, 이메일 : {{m.email}} , 직업 : {{m.job}} , 우편번호 : {{m.zipcode}} , 주소 : {{m.address}}</td>
	</tr>
{% endfor %}
{% else %}
<tr><td colspan="4">자료가 없습니다</td></tr>

{% endif %}


</table>


</body>
</html>