<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
window.onload = function(){
	document.getElementById('btnZipclose').onclick = function(){
		
		window.close()
		
	}
	
}

</script>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="/static/js/script.js" ></script>
</head>
<body>

<b>** 주소검색 **</b><br>

<form action="/member/zipcheckok" name="zipForm" method="post">{% csrf_token %}
<table>
	<tr>
	<td>
	동 이름 입력 :
	<input type="text" name="area3">
	<input type="submit" value="찾기">
	<input type="button" value='닫기' id = 'btnZipclose'>
	<input type="hidden" name='check' value="n">
	</td>
	</tr>
</table>
</form>

{% if check == 'n' %}
	{% if datas.count == 0 %}
		<b>등록된 동 이름이 아닙니다</b>	
	
	{% else %}
	<table>
	<tr><td>동이름을 클릭하면 주소가 입력됩니다</td></tr>
	<tr>
	<td>
	{% for z in datas %}
	<a href="javascript:send('{{z.1}}','{{z.2}}','{{z.3}}','{{z.4}}','{{z.5}}')">
	{{z.1}} {{z.2}} {{z.3}} {{z.4}} {{z.5}}</a><br>
	{% endfor %}	
	</td>
	</tr>	
	</table>		
	{% endif %}
	
	
{% endif %}

</body>
</html>